*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.video {
  background-color: #DBDBDB;
  min-height: 50vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.video #videoPlayer {
  vertical-align: middle;
  width: calc(980px * 4 / 5);
  height: auto;
  margin: 0 auto;
  pointer-events: none;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .video {
    height: initial;
    min-height: 30vh;
  }

  .video #videoPlayer {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .video {
    height: initial;
    min-height: 30vh;
  }

  .video #videoPlayer {
    width: 80%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

.about-container {
  height: 500px;
  background-color: #DBDBDB;
}

.about-container .about {
  position: relative;
  height: 450px;
  background-color: #E1B894;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-container .about .about-left {
  position: absolute;
  margin-left: calc((100vw - 980px)/2);
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: calc(300px);
  z-index: 10;
}

.about-container .about .about-left-title {
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}

.about-container .about .about-left-exp {
  width: calc(300px);
  background-color: white;
  padding: 10px 10px;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 10px 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.about-container .about .about-left-exp p {
  color: #424242;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
}

.about-container .about .about-left-read-more {
  box-shadow: 1px 1px 7px -2px black;
  background-color: #C19873;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 30px;
  transition: 0.3s;
}

.about-container .about .about-left-read-more:hover {
  background-color: white;
  color: #C19873;
}

.about-container .about .about-left-read-more:active {
  position: relative;
  top: 1px;
}

.about-container .about .about-image {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
}

.about-container .about .about-image:before,
.about-container .about .about-image:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #000;
  box-shadow: 0 15px 10px #000;
  transform: rotate(-3deg);
}

.about-container .about .about-image:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.about-container .about .about-image img {
  width: 400px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-container .about .about-right {
  position: absolute;
  right: 0px;
  margin-right: calc((100vw - 980px)/2);
  top: 50%;
  transform: translate(0%, -50%);
  width: calc(300px);
  z-index: 10;
}

.about-container .about .about-right-title {
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: calc(300px);
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  text-align: right;
  margin-left: auto;
}

.about-container .about .about-right-exp {
  width: calc(300px);
  height: 180px;
  background-color: white;
  padding: 10px 10px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 10px 6px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-container .about .about-right-exp p {
  color: #424242;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
}

.about-container .about .about-right-read-more {
  box-shadow: 1px 1px 7px -2px black;
  background-color: #C19873;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 30px;
  text-decoration: none;
  float: right;
  margin-top: 30px;
  transition: 0.3s;
}

.about-container .about .about-right-read-more:hover {
  background-color: white;
  color: #C19873;
}

.about-container .about .about-right-read-more:active {
  position: relative;
  top: 1px;
}

@media (min-width: 1920px) {
  .about-container {
    height: 500px;
  }

  .about-container .about {
    height: 450px;
  }

  .about-container .about .about-left {
    width: 15vw;
  }
}

@media (max-width: 1024px) {
  .about-container {
    height: 55vh;
  }

  .about-container .about {
    position: relative;
    height: 50vh;
  }

  .about-container .about .about-left {
    position: absolute;
    margin-left: 5vw;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: calc(35vw);
    z-index: 10;
  }

  .about-container .about .about-left-title {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .about-container .about .about-left-exp {
    width: calc(30vw);
    padding: 10px 10px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-container .about .about-left-exp p {
    font-size: 16px;
    text-align: justify;
  }

  .about-container .about .about-left-read-more {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 30px;
  }

  .about-container .about .about-image {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
  }

  .about-container .about .about-image img {
    width: 50vw;
    height: auto;
  }

  .about-container .about .about-right {
    position: absolute;
    right: 0px;
    margin-right: 5vw;
    top: 50%;
    transform: translate(0%, -50%);
    width: calc(35vw);
    z-index: 10;
  }

  .about-container .about .about-right-title {
    font-size: 24px;
    width: calc(36vw);
    padding-bottom: 10px;
    margin-left: auto;
  }

  .about-container .about .about-right-exp {
    width: calc(35vw);
    padding: 10px 10px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-container .about .about-right-exp p {
    font-size: 16px;
    text-align: justify;
  }

  .about-container .about .about-right-read-more {
    display: inline-block;
    font-size: 15px;
    padding: 10px 30px;
    float: right;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .about-container {
    height: initial;
    min-height: 100vh;
    padding-bottom: 10vh;
  }

  .about-container .about {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 175vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .about-container .about .about-left {
    position: static;
    margin-left: 10vw;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    width: calc(80vw);
  }

  .about-container .about .about-left-title {
    font-size: 17px;
    padding-bottom: 10px;
  }

  .about-container .about .about-left-exp {
    width: calc(80vw);
    padding: 10px 10px;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-container .about .about-left-exp p {
    font-size: 12px;
  }

  .about-container .about .about-left-read-more {
    display: block;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    margin: 0 auto;
    width: 70vw;
    margin-top: 20px;
    text-align: center;
  }

  .about-container .about .about-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-container .about .about-image img {
    width: 80vw;
    height: auto;
  }

  .about-container .about .about-right {
    position: absolute;
    right: 0px;
    margin-right: 10vw;
    top: initial;
    bottom: 0%;
    transform: translate(0%, 0%);
    width: calc(80vw);
    padding-bottom: 5vh;
  }

  .about-container .about .about-right-title {
    color: white;
    font-size: 17px;
    width: calc(80vw);
    padding-bottom: 10px;
    text-align: right;
    margin-left: auto;
  }

  .about-container .about .about-right-exp {
    width: calc(80vw);
    padding: 10px 10px;
    height: initial;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-container .about .about-right-exp p {
    font-size: 12px;
    text-align: justify;
  }

  .about-container .about .about-right-read-more {
    display: block;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    float: none;
    margin: 0 auto;
    width: 70vw;
    margin-top: 20px;
    text-align: center;
  }
}

.catalog-pintu {
  min-height: 80vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.catalog-pintu-title p {
  font-size: 30px;
  font-weight: 700;
  color: #704523;
  text-align: center;
}

@media (min-width: 1440px) {
  .catalog-pintu-title p {
    font-size: 3rem;
  }
}

.catalog-pintu .pintu-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 980px;
  margin: 0 auto;
}

.catalog-pintu .pintu-list .pintu {
  height: calc(675px);
  width: calc(270px);
  margin: auto calc(170px/6);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  padding-top: 10vh;
}

.catalog-pintu .pintu-list .pintu-title {
  border-bottom-width: 1px;
  width: 200px;
}

.catalog-pintu .pintu-list .pintu-title p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.catalog-pintu .pintu-list .pintu-exp {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.catalog-pintu .pintu-list .pintu-1 {
  background-image: url("/img/Preview/SC NC (Solvent Based Paint Finished)/SC/SC-Caramel - Copy.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0;
}

.catalog-pintu .pintu-list .pintu-2 {
  background-image: url("/img/Preview/SC NC (Solvent Based Paint Finished)/NC/Nat-Sapele - Copy.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-pintu .pintu-list .pintu-3 {
  background-image: url("/img/Preview/MD Series (Ecoskin Finished)/3. TANGO/8. TANGO Walnut - Copy.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0;
}

.catalog-pintu-read-more {
  text-align: center;
  display: block;
  box-shadow: 1px 1px 7px -2px black;
  background-color: #C19873;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 30px;
  width: 15vw;
  transition: 0.3s;
}

@media (min-width: 1440px) {
  .catalog-pintu-read-more {
    font-size: 1.25rem;
  }
}

.catalog-pintu-read-more:hover {
  background-color: white;
  color: #C19873;
  text-decoration: none;
}

.catalog-pintu-read-more:active {
  position: relative;
  top: 1px;
}

@media (max-width: 1024px) {
  .catalog-pintu {
    min-height: 50vh;
    padding-bottom: 5vh;
  }

  .catalog-pintu-title p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2vh;
  }

  .catalog-pintu .pintu-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    width: initial;
  }

  .catalog-pintu .pintu-list .pintu {
    height: 50vh;
    width: calc(30vw);
    margin: auto calc(10vw/6);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    padding-top: 2vh;
  }

  .catalog-pintu .pintu-list .pintu-title {
    width: 16vw;
  }

  .catalog-pintu .pintu-list .pintu-title p {
    font-size: 24px;
  }

  .catalog-pintu .pintu-list .pintu-exp {
    font-size: 16px;
  }

  .catalog-pintu .pintu-list .pintu-1 {
    background-size: cover;
  }

  .catalog-pintu .pintu-list .pintu-2 {
    background-size: cover;
  }

  .catalog-pintu .pintu-list .pintu-3 {
    background-size: cover;
  }

  .catalog-pintu-read-more {
    text-align: center;
    display: block;
    font-size: 15px;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 30px;
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .catalog-pintu {
    min-height: 80vh;
    padding-bottom: 5vh;
  }

  .catalog-pintu-title {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 20px;
  }

  .catalog-pintu-title p {
    font-size: 30px;
    text-align: center;
  }

  .catalog-pintu .pintu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .catalog-pintu .pintu-list .pintu {
    height: 35vh;
    width: calc(80vw);
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    padding-top: 0vh;
    margin-top: 5vh;
  }

  .catalog-pintu .pintu-list .pintu-title {
    width: 70vw;
  }

  .catalog-pintu .pintu-list .pintu-title p {
    font-size: 16px;
    text-align: center;
  }

  .catalog-pintu .pintu-list .pintu-exp {
    font-size: 12px;
    text-align: center;
  }

  .catalog-pintu-read-more {
    width: 70vw;
  }
}

.catalog-kusen {
  min-height: 100vh;
  background-color: #DBDBDB;
  padding-top: 2vh;
  padding-bottom: 5vh;
}

.catalog-kusen-title p {
  font-size: 30px;
  font-weight: 700;
  color: #704523;
  text-align: center;
}

@media (min-width: 1440px) {
  .catalog-kusen-title p {
    font-size: 3rem;
  }
}

.catalog-kusen .kusen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.catalog-kusen .kusen-title {
  font-size: 16px;
  font-weight: 700;
  color: #704523;
  text-align: center;
}

@media (min-width: 1440px) {
  .catalog-kusen .kusen-title {
    font-size: 1.5rem;
  }
}

.catalog-kusen .kusen-top {
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 980px;
}

.catalog-kusen .kusen-top .kusen-pic img {
  height: auto;
  width: calc(980px/2);
}

.catalog-kusen .kusen-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 980px;
  margin: 0 auto;
}

.catalog-kusen .kusen-bottom .kusen-pic img {
  height: auto;
  width: calc(980px/2);
}

.catalog-kusen-read-more {
  text-align: center;
  display: block;
  box-shadow: 1px 1px 7px -2px black;
  background-color: #C19873;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 30px;
  width: 15vw;
  transition: 0.3s;
}

@media (min-width: 1440px) {
  .catalog-kusen-read-more {
    font-size: 1.25rem;
  }
}

.catalog-kusen-read-more:hover {
  background-color: white;
  color: #C19873;
  text-decoration: none;
}

.catalog-kusen-read-more:active {
  position: relative;
  top: 1px;
}

@media (max-width: 1024px) {
  .catalog-kusen {
    min-height: 50vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .catalog-kusen-title p {
    font-size: 30px;
  }

  .catalog-kusen .kusen {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .catalog-kusen .kusen-title {
    font-size: 24px;
    text-align: center;
  }

  .catalog-kusen .kusen-top {
    margin-bottom: 5vh;
    width: initial;
  }

  .catalog-kusen .kusen-top .kusen-pic img {
    height: 15vh;
    width: auto;
  }

  .catalog-kusen .kusen-bottom {
    display: flex;
    flex-direction: row;
    width: initial;
  }

  .catalog-kusen .kusen-bottom .kusen-pic {
    margin: auto 0vw;
  }

  .catalog-kusen .kusen-bottom .kusen-pic img {
    height: 25vh;
    width: auto;
  }

  .catalog-kusen-read-more {
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 30px;
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .catalog-kusen {
    min-height: 100vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .catalog-kusen-title {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 20px;
  }

  .catalog-kusen-title p {
    font-size: 30px;
  }

  .catalog-kusen .kusen-title {
    font-size: 16px;
  }

  .catalog-kusen .kusen-top {
    margin-bottom: 5vh;
  }

  .catalog-kusen .kusen-top .kusen-pic img {
    height: 20vh;
    width: auto;
  }

  .catalog-kusen .kusen-bottom {
    flex-direction: column;
  }

  .catalog-kusen .kusen-bottom .kusen-pic {
    margin: auto 4vw;
  }

  .catalog-kusen .kusen-bottom .kusen-pic img {
    height: 30vh;
    width: auto;
  }

  .catalog-kusen-read-more {
    text-align: center;
    display: block;
    font-size: 15px;
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 30px;
    width: 70vw;
  }
}

.company-detail {
  min-height: 100vh;
  padding-bottom: 10vh;
  padding-top: 5vh;
  width: 980px;
  margin: 0 auto;
}

.company-detail .company-detail-title p {
  color: #E1B894;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 1440px) {
  .company-detail .company-detail-title p {
    font-size: 1.5rem;
  }
}

.company-detail .company-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.company-detail .company-detail-container .company-detail-img {
  position: relative;
  width: 400px;
  height: 300px;
}

.company-detail .company-detail-container .company-detail-exp {
  position: relative;
  width: 530px;
  height: 300px;
  padding: 10px 20px;
  align-items: center;
  display: flex;
}

.company-detail .company-detail-container .company-detail-exp p,
.company-detail .company-detail-container .company-detail-exp ul li {
  font-size: 1rem;
  color: black;
}

@media (min-width: 1440px) {
  .company-detail .company-detail-container .company-detail-exp p,
  .company-detail .company-detail-container .company-detail-exp ul li {
    font-size: 1rem;
  }
}

@media (min-width: 1920px) {
  .company-detail .company-detail-container .company-detail-exp p,
  .company-detail .company-detail-container .company-detail-exp ul li {
    font-size: 1rem;
  }
}

.company-detail .company-detail-1 .company-detail-title-1 {
  text-align: right;
}

.company-detail .company-detail-1 .company-detail-img-1 {
  background-image: url("/img/Home/Citraland Oakwood 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.company-detail .company-detail-1 .company-detail-img-1:before,
.company-detail .company-detail-1 .company-detail-img-1:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: black;
  box-shadow: 0 15px 10px black;
  transform: rotate(-3deg);
}

.company-detail .company-detail-1 .company-detail-img-1:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.company-detail .company-detail-1 .company-detail-exp-1 {
  box-shadow: -9px 7px 17px 0px #777;
}

.company-detail .company-detail-2 {
  margin: 5vh auto;
}

.company-detail .company-detail-2 .company-detail-title-2 {
  text-align: left;
}

.company-detail .company-detail-2 .company-detail-img-2 {
  background-image: url("/img/Home/Pakuwon City 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.company-detail .company-detail-2 .company-detail-img-2:before,
.company-detail .company-detail-2 .company-detail-img-2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: black;
  box-shadow: 0 15px 10px black;
  transform: rotate(-3deg);
}

.company-detail .company-detail-2 .company-detail-img-2:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.company-detail .company-detail-2 .company-detail-exp-2 {
  box-shadow: 9px 7px 17px 0px #777;
}

.company-detail .company-detail-3 .company-detail-title-3 {
  text-align: right;
}

.company-detail .company-detail-3 .company-detail-img-3 {
  width: 530px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.company-detail .company-detail-3 .company-detail-img-3 img {
  width: calc(530px/3);
  margin: 0;
  padding: 0;
}

.company-detail .company-detail-3 .company-detail-exp-3 {
  width: 400px;
  height: 250px;
  box-shadow: -9px 7px 17px 0px #777;
}

@media (max-width: 1024px) {
  .company-detail {
    min-height: 100vh;
    padding: 5vh 5vw;
    padding-bottom: 10vh;
    width: initial;
  }

  .company-detail .company-detail-title p {
    font-size: 24px;
  }

  .company-detail .company-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .company-detail .company-detail-container .company-detail-img {
    position: relative;
    width: 40vw;
    height: 30vh;
  }

  .company-detail .company-detail-container .company-detail-exp {
    position: relative;
    width: 47vw;
    height: 400px;
    padding: 10px 20px;
  }

  .company-detail .company-detail-container .company-detail-exp p,
  .company-detail .company-detail-container .company-detail-exp ul li {
    font-size: 16px;
  }

  .company-detail .company-detail-1 .company-detail-title-1 {
    text-align: right;
  }

  .company-detail .company-detail-2 {
    margin: 5vh auto;
  }

  .company-detail .company-detail-2 .company-detail-title-2 {
    text-align: left;
  }

  .company-detail .company-detail-3 .company-detail-title-3 {
    text-align: right;
  }

  .company-detail .company-detail-3 .company-detail-img-3 {
    width: 45vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .company-detail .company-detail-3 .company-detail-img-3 img {
    width: calc(45vw/3);
    margin: 0;
    padding: 0;
  }

  .company-detail .company-detail-3 .company-detail-exp-3 {
    width: 40vw;
  }
}

@media (max-width: 480px) {
  .company-detail {
    min-height: 100vh;
    padding: 5vh 10vw;
    padding-bottom: 10vh;
  }

  .company-detail .company-detail-title p {
    font-size: 16px;
  }

  .company-detail .company-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .company-detail .company-detail-container .company-detail-img {
    margin: 2.5vh auto;
    position: relative;
    width: 80vw;
    height: 40vh;
  }

  .company-detail .company-detail-container .company-detail-exp {
    margin: 2.5vh auto;
    position: relative;
    width: 80vw;
    height: initial;
    padding: 20px 20px;
  }

  .company-detail .company-detail-container .company-detail-exp p,
  .company-detail .company-detail-container .company-detail-exp ul li {
    font-size: 12px;
  }

  .company-detail .company-detail-1 .company-detail-title-1 {
    text-align: right;
  }

  .company-detail .company-detail-1 .company-detail-img-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .company-detail .company-detail-2 {
    margin: 5vh auto;
  }

  .company-detail .company-detail-2 .company-detail-img-2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .company-detail .company-detail-3 .company-detail-title-3 {
    text-align: right;
  }

  .company-detail .company-detail-3 .company-detail-img-3 {
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .company-detail .company-detail-3 .company-detail-img-3 img {
    width: calc(80vw/3);
    margin: 0;
    padding: 0;
  }

  .company-detail .company-detail-3 .company-detail-exp-3 {
    width: 80vw;
    height: initial;
  }
}

.company-point {
  min-height: 100vh;
  background-color: #DBDBDB;
  padding: 5vh 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.company-point-container {
  width: calc(980px/3);
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 3vh 3vw;
}

.company-point-img {
  margin-top: 20px;
  text-align: center;
}

.company-point-img i {
  color: white;
}

.company-point-img .xl-icon {
  font-size: 7.5vw;
}

@media (min-width: 1920px) {
  .company-point-img .xl-icon {
    font-size: 10vw;
  }
}

.company-point-title p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

@media (min-width: 1440px) {
  .company-point-title p {
    font-size: 1.75rem;
  }
}

.company-point-exp p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1440px) {
  .company-point-exp p {
    font-size: 1.25rem;
  }
}

.company-point-1 {
  background-color: #E1B894;
}

.company-point-2 {
  background-color: #875C36;
}

.company-point-3 {
  background-color: #704523;
}

@media (max-width: 1024px) {
  .company-point {
    min-height: 50vh;
    padding: 5vh 5vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
  }

  .company-point-container {
    width: calc(90vw/3);
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;
  }

  .company-point-img {
    margin-top: 0px;
    text-align: center;
  }

  .company-point-img .xl-icon {
    font-size: 15vw;
  }

  .company-point-title p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .company-point-exp p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .company-point {
    min-height: 100vh;
    padding: 5vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .company-point-container {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
  }

  .company-point-img {
    margin-top: 0px;
  }

  .company-point-img .xl-icon {
    font-size: 40vw;
  }

  .company-point-title p {
    font-size: 20px;
    margin-bottom: 0;
  }

  .company-point-exp p {
    font-size: 16px;
  }
}

.portfolio {
  padding-top: 2vh;
  padding-bottom: 5vh;
  width: 980px;
  margin: 0 auto;
}

.portfolio-title p {
  font-size: 30px;
  font-weight: 700;
  color: #704523;
  text-align: center;
}

@media (min-width: 1440px) {
  .portfolio-title p {
    font-size: 3rem;
  }
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.portfolio-grid div img {
  width: calc(120px);
  height: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

@media (max-width: 1024px) {
  .portfolio {
    padding: 2vh 15vw;
    padding-bottom: 5vh;
    width: initial;
  }

  .portfolio-title p {
    font-size: 30px;
    text-align: center;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .portfolio-grid div img {
    width: calc(15vw);
    height: auto;
    -moz-column-gap: 0.5vw;
         column-gap: 0.5vw;
  }
}

@media (max-width: 480px) {
  .portfolio {
    padding: 2vh 15vw;
    padding-bottom: 5vh;
  }

  .portfolio-title p {
    font-size: 30px;
    text-align: center;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .portfolio-grid div img {
    width: calc(15vw);
    height: auto;
    -moz-column-gap: 0.5vw;
         column-gap: 0.5vw;
  }
}

