$font-stack:    Poppins, sans-serif;
$primary-color: #000;
$white : 		#fff;
$blue-1:		#0C3C60;
$blue-2:		#0E0A48;
$grey-1:		#CCCCCC;
$grey-2:		#DBDBDB;
$grey-3:		#424242;
$grey-4:		#373B4D;
$brown-1:		#DEAF52;
$brown-2:		#B59059;
$brown-3:		#E1B894;
$brown-4:		#875C36;
$brown-5:		#704523;
$brown-6:		#C19873;

$breakpoint-phone: 480px;
//$breakpoint-tablet-md: 768px;
$breakpoint-tablet-md: 980px;
$breakpoint-tablet: 1024px;
$breakpoint-xlarge: 1440px; //1440x900
$breakpoint-xxlarge: 1920px; //1920x1080

$content-width:980px;

//here, ipad and ipad pro size digabung jadi 1 (md dan lg)

//set font sizes
//set bold type
//https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html

@media (min-width: $breakpoint-xlarge) {
  
}

@media (min-width: $breakpoint-xxlarge) {
  
}


@media (max-width: $breakpoint-tablet) {
  
}

@media (max-width: $breakpoint-phone) {
  
}

