@import 'color.scss';

.about-header{
	height: 20vh;
	padding: 3vh calc((100vw - 980px)/2) 2vh calc((100vw - 980px)/2);
	background-color: $brown-4;
	h2{
		margin-top: 7vh;
		font-size: 36px;
		color: white;
		font-weight: 600;
	}
}

.about-exp{
	padding: 3vh calc((100vw - 980px)/2) 3vh calc((100vw - 980px)/2);
	p{
		color: black;
		font-size: 20px;
		font-weight: 400;
	}
	.exp-grey{
		background-color: $grey-2;
		padding:10px 30px;
		p{
			margin: 0px auto;
		}
	}
	.exp-2{
		margin-top: 5vh;
		&-title{
			width: 50%;
			p{
				color: $blue-2;
				font-size: 36px;
				border-bottom-style: dashed;
				border-bottom-width: 2px;
				border-color: $blue-2;
				margin-bottom: 10px;
			}
		}
		ul{
			li{
				font-size: 20px;
			}
		}

	}
}

.carousel{
	.carousel-inner{
		height:75vh;
		.carousel-item {
			height:75vh;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.carousel-item-1{
			background-image: url("/img/about/36435.jpg"); 

		}
		.carousel-item-2{
			background-image: url("/img/about/Unit Produksi.jpg"); 
		}
		.carousel-item-3{
			background-image: url("/img/about/Screenshot (35435)_00001.png"); 
		}
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		height: 50px;
		width: 50px;
	}
}

@media (max-width: $breakpoint-tablet) {
.about-header{
	height: 15vh;
	padding: 3vh 10vw 2vh 10vw;
	h2{
		margin-top: 7vh;
		font-size: 36px;
		color: white;
		font-weight: 700;
	}
}

.about-exp{
	padding: 3vh 10vw 3vh 10vw;
	p{
		font-size: 20px;
	}
	.exp-grey{
		padding:10px 30px;
		p{
			margin: 0px auto;
		}
	}
	.exp-2{
		margin-top: 2vh;
		&-title{
			width: 50%;
			p{
				font-size: 36px;
				margin-bottom: 10px;
			}
		}
		ul{
			li{
				font-size: 20px;
			}
		}

	}
}

.carousel{
	.carousel-inner{
		height:30vh;
		.carousel-item {
			height:30vh;
		}
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		height: 25px;
		width: 25px;
	}
}
}

@media (max-width: $breakpoint-phone) {
.about-header{
	height: 20vh;
	padding: 3vh 10vw 2vh 10vw;
	h2{
		margin-top: 7vh;
		font-size: 28px;
	}
}

.about-exp{
	padding: 3vh 10vw 3vh 10vw;
	p{
		font-size: 14px;
	}
	.exp-grey{
		padding:10px 30px;
		p{
			margin: 0px auto;
		}
	}
	.exp-2{
		margin-top: 5vh;
		&-title{
			width: 100%;
			p{
				font-size: 30px;
				margin-bottom: 10px;
			}
		}
		ul{
			li{
				font-size: 14px;
			}
		}

	}
}

.carousel{
	.carousel-inner{
		height:30vh;
		.carousel-item {
			height:30vh;
		}
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		height: 25px;
		width: 25px;
	}
}
}