@import 'color.scss';

//for layout only, 
// open new scss for new one

body {
    font-family: $font-stack;
    background-color: $white;
}

.show-md-only{
	display: none;
}
.dropdown{
	display: inline-block;
}
.href-nav{
	background-color: $grey-2;
}

@media (max-width: $breakpoint-tablet) {
  .show-md-only{
  	display: inline-block;
  }
  .dropdown, .dropdown-menu{
  	display: none;
  }
}

.navbar{
	width: $content-width;
	margin: 0 auto;
	background-color: white;
	.navbar-brand{
		img{
			width: 10vw;
		}
	}
	.navbar-nav{
		.nav-link{
			padding: 20px 20px;
			color:$grey-3;
			transition: 0.3s;
			&:hover{
				background-color:#EDEDED;
			}
		}

		.dropdown{
			.dropdown-menu{
				border:none;
				a{
					padding: 5px 20px;
					color:$grey-3;
				}
			}
			&:hover>.dropdown-menu {
				display: block;
			}
			&:hover .dropdown-item {
				a{
					background-color:white;
				  	padding: 5px 20px;
				}
		  		a:hover{
		  			background-color:#EDEDED;
		  	 	}
			}
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.navbar{
	padding: 10px 5%;
	width: initial;

	.navbar-brand{
		img{
			width: 10vw;
		}
	}
	.navbar-nav{
		.nav-link{
			padding: 20px 10px;
		}
		.dropdown{
			.dropdown-menu{
				a{
					padding: 5px 20px;
				}
			}
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.navbar{
	padding: 10px 15%;
	background-color: white;
	.navbar-brand{
		img{
			width: 20vw;
		}
	}
	.navbar-nav{
		.nav-link{
			padding: 10px 10px;
		}
		.dropdown{
			div{
				border:none;
				a{
					padding: 10px 30px;
				}
			}
		}
	}
}
}

.footer{
	min-height: 40vh;
	height: initial;
	background-color: $brown-5;
	color:white;
	padding: 15px 15%;
	.footer-contact{
		display: flex;
		flex-direction: row;
		justify-content:center;
		width: $content-width;
		margin: 0 auto;
		.hubungi{
			h4{
				font-size: 25px;
				font-weight: 700;
				padding-right: 100px;
				padding-bottom: 5px;
				border-bottom-width: 3px;	
				border-bottom-style: dashed;
				margin-bottom: 0;
			}
			.contact-container{
				.contact{
					display: flex;
					flex-direction: row;
					align-items:center;
					margin:20px auto;
					.contact-image{
						.lg-icon{
							font-size: 3rem;
						}
					}
					.contact-text{
						margin-left: 20px;
						width: 25vw;
						p{
							color:$white;
							margin: 0 auto;
							font-size: 16px;
						}
					}
					.contact-button{
						.button-contact {
							box-shadow: 1px 1px 7px -2px black;
							background-color:$white;
							display:inline-block;
							cursor:pointer;
							color: $brown-6;
							font-size:15px;
							padding:10px 30px;
							text-decoration:none;
							text-align: center;
							width: 15vw;
							transition: 0.3s;

						}
						.button-contact:hover {
							background-color:white;
							color: $grey-3;
						}
						.button-contact:active {
							position:relative;
							top:1px;
						}
					}
				}
			}

		}
	}
	.signage{
		border-top-width: 1px;	
		width: $content-width;
		margin: 0 auto;
		p{
			margin-top: 5px;
			color:white;
		}
	}
}

@media (min-width: $breakpoint-xlarge) {
.footer{
	min-height: 35vh;
	.footer-contact{
		.hubungi{
			h4{font-size: 2.5rem;}
			.contact-container{
				.contact{
					.contact-image{
						.lg-icon{font-size: 3rem;}
					}
					.contact-text{
						p{font-size: 1.25rem;}
					}
					.contact-button{
						.button-contact {font-size:1.25rem;}
					}
				}
			}

		}
	}
}
}

@media (max-width: $breakpoint-tablet) {
.footer{
	height: initial;
	min-height: 40vh;
	padding: 15px 5%;
	.footer-contact{
		display: flex;
		flex-direction: row;
		justify-content:center;
		width: initial;
		.hubungi{
			h4{
				font-size: 25px;
				padding-right: 100px;
				padding-bottom: 5px;
				margin-bottom: 0;
			}
			.contact-container{
				.contact{
					display: flex;
					flex-direction: row;
					align-items:center;
					margin:20px auto;
					width: initial;
					.contact-image{
						.lg-icon{
							font-size: 3rem;
						}
					}
					.contact-text{
						margin-left: 20px;
						width: 45vw;
						p{
							margin: 0 auto;
							font-size: 16px;
						}
					}
					.contact-button{
						.button-contact {
							display:inline-block;
							font-size:15px;
							padding:10px 30px;
							width: 25vw;
						}
					}
				}
			}

		}	
	}
	.signage{
		border-top-width: 1px;	
		width: initial;
		p{
			margin-top: 5px;
			color:white;
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.footer{
	height: initial;
	padding: 15px 10%;
	.footer-contact{
		display: flex;
		flex-direction: row;
		justify-content:center;
		.hubungi{
			h4{
				font-size: 25px;
				font-weight: 700;
				padding-right: 0px;
				padding-bottom: 5px;
				margin-bottom: 0;
			}
			.contact-container{
				.contact{
					display: flex;
					flex-wrap:wrap;
					flex-direction: row;
					align-items:center;
					margin:20px auto;
					.contact-image{
						.lg-icon{
							font-size: 3rem;
						}
					}
					.contact-text{
						margin-left: 20px;
						width: 55vw;
						p{
							margin: 0 auto;
							font-size: 14px;
						}
					}
					.contact-button{
						.button-contact {
							display:block;
							font-size:15px;
							padding:10px 30px;
							width: 70vw;
							margin-top: 5px;
						}
					}
				}
			}

		}
	}
	.signage{
		border-top-width: 1px;	
		p{
			margin-top: 5px;
		}
	}
}
}