@import 'color.scss';

.contact-us{
	background-color: $blue-1;
	min-height: 60vh;
	padding: 10vh calc((100vw - 980px)/2);
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	h1{
		text-align: center;
		font-size: 60px;
		color: white;
		font-weight: 300;
		margin-top: 0;
		@media (min-width: $breakpoint-xxlarge) {
			font-size: 4rem;
		}					
	}
	.contact-form{
		padding:30px 30px;
		background-color: white;
		width: 50vw;

		p{
			font-size: 30px;
			font-weight: 300;
			margin: 0 0 15px 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 2rem;
			}							
		}
		form{
			display: flex;
			flex-direction:column;
			input {
				border-top: 2px solid $blue-1;
				border-left: 2px solid $blue-1;
				border-right: 2px solid $blue-1;
				border-radius: 0;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.25rem;
				}							
			}
			textarea{
				border: 2px solid $blue-1;
				padding-left:10px;
				padding-top: 5px;
				border-radius: 0;
			}
			textarea::placeholder{
				color: black;
				color: black;
				font-size: 14px;
				font-family: $font-stack;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.25rem;
				}											
			}

		}
		button{
			display: block;
			background-color: $blue-1;
			width: 10vw;
			height: 50px;
			color: white;
			margin-left: auto;
			border:none;
			border-radius: 0;
			transition: 0.5s;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.5rem;
			}						
		}
		button:hover{
			background-color: white;
			color: $blue-1;			
			border:1px solid $blue-1;
		}

		.form-container{
			display: flex;
			flex-direction:row;
			input{
				width: 24vw;
				height: 50px;
				padding-left:10px;
			}
			input:last-child{
				border-top: 2px solid $blue-1;
				border-left: none;
				border-right: 2px solid $blue-1;					
			}
			input::placeholder{
				color: black;
			}
		}

	}
}


@media (max-width: $breakpoint-tablet) {
.contact-us{
	min-height: 50vh;
	padding: 5vh 10vw;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	h1{
		text-align: center;
		font-size: 60px;
		margin-top: 0;
	}
	.contact-form{
		padding:30px 30px;
		width: 80vw;
		p{
			font-size: 30px;
			margin: 0 0 15px 0;
		}
		form{
			display: flex;
			flex-direction:column;
			input {
			}
			textarea{
				padding-left:10px;
				padding-top: 5px;
			}
			textarea::placeholder{
				font-size: 14px;
			}

		}
		button{
			display: block;
			width: 10vw;
			height: 50px;
			margin-left: auto;
		}

		.form-container{
			display: flex;
			flex-direction:row;
			input{
				width: 40vw;
				height: 50px;
				padding-left:10px;
			}
			input:last-child{
				
			}
			input::placeholder{

			}
		}

	}
}
}


@media (max-width: $breakpoint-phone) {
.contact-us{
	min-height: 100vh;
	padding: 5vh 10vw;
	h1{
		text-align: center;
		font-size: 36px;
		margin-top: 0;
	}
	.contact-form{
		padding:30px 30px;
		width: 80vw;
		p{
			font-size: 30px;
			font-weight: 300;
			margin: 0 0 15px 0;
		}
		form{
			display: flex;
			flex-direction:column;
			input {
				border: 2px solid $blue-1;
				border-radius: 0px;
			}
			textarea{
				border: 2px solid $blue-1;
				padding-left:10px;
				padding-top: 5px;
				border-radius: 0px;
			}
			textarea::placeholder{
				font-size: 14px;
			}

		}
		button{
			display: block;
			width: 50vw;
			height: 50px;
			margin-left: auto;
		}

		.form-container{
			display: flex;
			flex-direction: column;
			input{
				width: calc(80vw - 60px);
				height: 50px;
				padding-left:10px;
			}
			input:last-child{
				border: 2px solid $blue-1;		
			}
		}

	}
}
}


.error{
	background-color: rgba(255,0,0,0.2);
}

.error-msg{
	color: red;
}