@import 'color.scss';

.tab { 
       display:inline-block; 
       width: 5vw;
}

.tab-small { 
       display:inline-block; 
       width: 4.5vw;
}

.bold{
	font-weight: 700;
}

@media (max-width: $breakpoint-tablet) {
.tab { 
       width: 10vw;
}

.tab-small { 
       width: 10vw;
}
}

@media (max-width: $breakpoint-phone) {
.tab { 
       width: 20vw;
}

.tab-small { 
       width: 20vw;
}
}

.exp{
	min-height: 40vh;
	background-color: $grey-2;
	padding: 10vh calc((100vw - 980px)/2);
	justify-content:space-around;
	display: flex;
	.exp-detail{
		width: 500px;
		&-title{
			border-bottom-width: 5px;
			border-bottom-color: $grey-4;
			padding-bottom: 0;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				color: $brown-1;
				font-size: 36px;
				text-align: left;
				font-weight: 700;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 2rem;
				}					
			}
		}
		&-exp{
			font-size: 14px;
			font-weight: 400;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1rem;
			}					
		}
	}
	&-img{
		height: 50vh;
		width: 480px;
		position: relative;
		img{
			height: auto;
			width: 480px;
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.exp{
	min-height: 40vh;
	padding: 0vh 5vw;
	padding-top: 5vh;
	justify-content:space-around;
	display: flex;
	.exp-detail{
		width: 40vw;
		&-title{
			padding-bottom: 0;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
			}
		}
		&-exp{
			font-size: 14px;
		}
	}
	&-img{
		height: 30vh;
		width: 50vw;
		position: relative;
		img{
			height: auto;
			width: 50vw;
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.exp{
	min-height: 80vh;
	padding: 0vh 10vw;
	padding-top: 5vh;
	justify-content:space-around;
	display: flex;
	flex-direction: column;
	.exp-detail{
		width: 80vw;
		&-title{
			padding-bottom: 0;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
				line-height: 45px;
			}
		}
		&-exp{
			font-size: 14px;
			font-weight: 400;
		}
	}
	&-img{
		height: 40vh;
		width: 80vw;
		position: static;
		img{
			height: auto;
			width: 80vw;
		}
	}
}
}


.classic{
	min-height: 30vh;
	background-color: $grey-2;
	padding: 10vh calc((100vw - 980px)/2);
	padding-top: 0;
	justify-content:space-between;
	display: flex;
	&-img{
		img{
			width: 500px;
		}
	}
	&-title{
		width: 400px;
		border-bottom-width: 5px;
		border-bottom-color: $grey-4;
		padding-bottom: 0;
		margin-left: auto;
		margin-right: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			color: $brown-1;
			font-size: 36px;
			text-align: right;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 3rem;
			}					
		}
		.title-bottom{
			font-size: 20px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.5rem;
			}					
		}
	}
	&-detail{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
			text-align: right;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.25rem;
			}							
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.classic{
	min-height: 25vh;
	padding: 2vh 10vw;
	padding-left: 0;
	padding-top: 0;
	justify-content:space-between;
	display: flex;
	&-img{
		img{
			width: 50vw;
		}
	}
	&-title{
		width: 40vw;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
		.title-bottom{
			font-size: 20px;
		}
	}
	&-detail{
		p{
			font-size: 14px;
			margin-top: 8px;
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.classic{
	min-height: 60vh;
	padding: 2vh 10vw;
	padding-top: 0;
	justify-content:start;
	display: flex;
	flex-direction: column-reverse;
	&-img{
		img{
			width: 80vw;
		}
	}
	&-title{
		width: 80vw;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			text-align: left;
			margin-bottom: 0;
		}
		.title-bottom{
			font-size: 20px;
		}
	}
	&-detail{
		p{
			font-size: 14px;
			margin-top: 8px;
			text-align: left;
		}
	}
}
}

.t{
	min-height: 55vh;
	padding: 5vh calc((100vw - 980px)/2);
	justify-content:space-between;
	display: flex;
	&-img{
		img{
			width: 500px;
		}
	}
	&-title{
		width: 30vw;
		border-bottom-width: 5px;
		border-bottom-color: $grey-4;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			color: $brown-1;
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 3rem;
			}					
		}
		.title-bottom{
			font-size: 20px;
		}
	}
	&-detail{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.25rem;
			}					
		}
	}
	&-size{
		.t-size-title{
			display: block;
			font-size: 18px;
			margin-bottom: 7px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.5rem;
			}						
		}
		.t-size-exp{
			font-size: 12px;
			margin-top: 0px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1rem;
			}						
		}
	}
}


@media (max-width: $breakpoint-tablet) {
.t{
	min-height: 65vh;
	padding: 5vh 10vw;
	padding-right: 0;
	justify-content:space-between;
	display: flex;
	&-img{
		img{
			width: 55vw;
		}
	}
	&-title{
		width: 35vw;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
		.title-bottom{
			font-size: 20px;
		}
	}
	&-detail{
		p{
			font-size: 14px;
			margin-top: 8px;
		}
	}
	&-size{
		.t-size-title{
			display: block;
			font-size: 18px;
			margin-bottom: 7px;
		}
		.t-size-exp{
			font-size: 12px;
			margin-top: 0px;
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.t{
	min-height: 65vh;
	padding: 5vh 10vw;
	justify-content:space-between;
	display: flex;
	flex-direction: column;
	&-img{
		img{
			width: 80vw;
		}
	}
	&-title{
		width: 80vw;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
		.title-bottom{
			font-size: 20px;
		}
	}
	&-detail{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
		}
	}
	&-size{
		.t-size-title{
			display: block;
			font-size: 18px;
			margin-bottom: 7px;
		}
		.t-size-exp{
			font-size: 12px;
			margin-top: 0px;
		}
	}
}
}


.l{
	min-height: 55vh;
	padding: 5vh calc((100vw - 980px)/2);
	background-color: $grey-2;
	justify-content:space-between;
	display: flex;
	&-img{
		img{
			width: 500px;
		}
	}
	&-title{
		width: 400px;
		border-bottom-width: 5px;
		border-bottom-color: $grey-4;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			color: $brown-1;
			text-align: right;
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 3rem;
			}						
		}
	}
	&-detail{
		p{
			text-align: right;
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.25rem;
			}						
		}
	}
	&-size{
		.l-size-title{
			text-align: right;
			display: block;
			font-size: 18px;
			margin-bottom: 7px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.5rem;
			}						
		}
		.l-size-exp{
			text-align: right;
			font-size: 12px;
			margin-top: 0px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1rem;
			}						
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.l{
	min-height: 50vh;
	padding: 5vh 10vw;
	padding-left: 0vw;
	justify-content:space-between;
	display: flex;
	&-img{
		img{
			width: 50vw;
		}
	}
	&-title{
		width: 40vw;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	&-detail{
		p{
			font-size: 14px;
			margin-top: 8px;
		}
	}
	&-size{
		.l-size-title{
			display: block;
			font-size: 18px;
			margin-bottom: 7px;
		}
		.l-size-exp{
			font-size: 12px;
			margin-top: 0px;
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.l{
	min-height: 65vh;
	padding: 5vh 10vw;
	padding-left: 10vw;
	justify-content:space-between;
	display: flex;
	flex-direction: column-reverse;
	&-img{
		img{
			width: 80vw;
		}
	}
	&-title{
		width: 80vw;
		border-bottom-width: 5px;
		padding-bottom: 0;
		margin:0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			text-align: left;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	&-detail{
		p{
			text-align: left;
			font-size: 14px;
			margin-top: 8px;
		}
	}
	&-size{
		.l-size-title{
			text-align: left;
			display: block;
			font-size: 18px;
			margin-bottom: 7px;
		}
		.l-size-exp{
			text-align: left;
			font-size: 12px;
			margin-top: 0px;
		}
	}
}
}
