@import 'color.scss';

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.video{
	background-color: $grey-2;
	min-height: 50vh;
	padding-top:5vh;
	padding-bottom:5vh;
	#videoPlayer{
		vertical-align: middle;
		width: calc(980px * 4 / 5);
		height: auto;
		margin: 0 auto;
		pointer-events: none;
		box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.5);
	}
}


@media (max-width: $breakpoint-tablet) {
  .video{
	height: initial;
	min-height: 30vh;
	#videoPlayer{
		width: 80%;
	}
  }
}

@media (max-width: $breakpoint-phone) {
  .video{
	height: initial;
	min-height: 30vh;
	#videoPlayer{
		width: 80%;
		padding-top: 5vh;
		padding-bottom: 5vh;

	}
  }
}



.about-container{
	height: 500px;
	background-color: $grey-2;
	.about{
		position: relative;
		height: 450px;
		background-color: $brown-3;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
		.about-left{
			position: absolute;
			margin-left: calc((100vw - 980px)/2);
			top: 50%;
			left: 0%;
			transform: translate(-0%, -50%);
			width: calc(300px);
			z-index:10;
			&-title{
				color: white;
				font-weight: 600;
				font-size: 18px;
				padding-bottom:10px;
				border-bottom-width: 2px;	
				border-bottom-style: dashed;
			}
			&-exp{
				width: calc(300px);
				background-color: white;
				padding: 10px 10px;
				height:180px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 
				10px 6px 10px 0 rgba(0, 0, 0, 0.19);
				p{
					color: $grey-3;
					font-size: 12px;
					font-weight: 300;
					text-align: justify;
				}
			}
			&-read-more {
				box-shadow: 1px 1px 7px -2px black;
				background-color:$brown-6;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-size:15px;
				padding:10px 30px;
				text-decoration:none;
				margin-top: 30px;
				transition: 0.3s;
			}
			&-read-more:hover {
				background-color:white;
				color: $brown-6;
			}
			&-read-more:active {
				position:relative;
				top:1px;
			}

		}
		.about-image{
			position: absolute;
			  top: 95%;
			  left: 50%;
			  transform: translate(-50%, -95%);

				//shadow
				&:before, &:after
				{
				  z-index: -1;
				  position: absolute;
				  content: "";
				  bottom: 15px;
				  left: 10px;
				  width: 50%;
				  top: 80%;
				  max-width:300px;
				  background: #000;
				  -webkit-box-shadow: 0 15px 10px #000;
				  -moz-box-shadow: 0 15px 10px #000;
				  box-shadow: 0 15px 10px #000;
				  -webkit-transform: rotate(-3deg);
				  -moz-transform: rotate(-3deg);
				  -o-transform: rotate(-3deg);
				  -ms-transform: rotate(-3deg);
				  transform: rotate(-3deg);
				}
				&:after
				{
				  -webkit-transform: rotate(3deg);
				  -moz-transform: rotate(3deg);
				  -o-transform: rotate(3deg);
				  -ms-transform: rotate(3deg);
				  transform: rotate(3deg);
				  right: 10px;
				  left: auto;
				}
			img{
				width: 400px;
				height: auto;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}

		}
		.about-right{
			position: absolute;
			right: 0px;
			margin-right: calc((100vw - 980px)/2);
			top: 50%;
			transform: translate(-0%, -50%);
			width: calc(300px);
			z-index:10;
			&-title{
				color: white;
				font-weight: 600;
				font-size: 18px;
				width: calc(300px);
				padding-bottom:10px;
				border-bottom-width: 2px;	
				border-bottom-style: dashed;
				text-align: right;
				margin-left: auto;
			}
			&-exp{
				width: calc(300px);
				height:180px;
				background-color: white;
				padding: 10px 10px;
				box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 
				10px 6px 10px 0 rgba(0, 0, 0, 0.19);
				display: flex;
				justify-content: center;
				flex-direction: column;
				p{
					color: $grey-3;
					font-size: 12px;
					font-weight: 300;
					text-align: justify;
				}
			}
			&-read-more {
				box-shadow: 1px 1px 7px -2px black;
				background-color:$brown-6;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-size:15px;
				padding:10px 30px;
				text-decoration:none;
				float: right;
				margin-top: 30px;
				transition: 0.3s;
			}
			&-read-more:hover {
				background-color:white;
				color: $brown-6;
			}
			&-read-more:active {
				position:relative;
				top:1px;
			}		
		}
	}	
}

@media (min-width: $breakpoint-xxlarge) {
.about-container{
	height: 500px;
	.about{
		height: 450px;
		.about-left{
			width: 15vw;			
		}
	}	
}
}

@media (max-width: $breakpoint-tablet) {
.about-container{
	height: 55vh;
	.about{
		position: relative;
		height: 50vh;
		.about-left{
			position: absolute;
			margin-left: 5vw;
			top: 50%;
			left: 0%;
			transform: translate(-0%, -50%);
			width: calc(35vw);
			z-index:10;
			&-title{
				font-size: 24px;
				padding-bottom:10px;
			}
			&-exp{
				width:calc(30vw);
				padding: 10px 10px;
				height: 350px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				p{
					font-size: 16px;
					text-align: justify;
				}
			}
			&-read-more {
				display:inline-block;
				cursor:pointer;
				font-size:15px;
				padding:10px 30px;
				margin-top: 30px;
			}
		}
		.about-image{
			position: absolute;
			  top: 95%;
			  left: 50%;
			  transform: translate(-50%, -95%);
			img{
				width: 50vw;
				height: auto;
			}

		}
		.about-right{
			position: absolute;
			right: 0px;
			margin-right: 5vw;
			top: 50%;
			transform: translate(-0%, -50%);
			width: calc(35vw);			
			z-index:10;
			&-title{
				font-size: 24px;
				width: calc(36vw);
				padding-bottom:10px;
				margin-left: auto;
			}
			&-exp{
				width:calc(35vw);
				padding: 10px 10px;
				height: 350px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				p{
					font-size: 16px;
					text-align: justify;
				}
			}
			&-read-more {
				display:inline-block;
				font-size:15px;
				padding:10px 30px;
				float: right;
				margin-top: 30px;
			}	
		}
	}	
}
}

@media (max-width: $breakpoint-phone) {
.about-container{
	height: initial;
	min-height: 100vh;
	padding-bottom: 10vh;
	.about{
		display: flex;
		flex-direction: column;
		position: relative;
		height: 175vh;
		padding-top:5vh;
		padding-bottom:5vh;
		.about-left{
			position: static;
			margin-left: 10vw;
			top: 0%;
			left: 0%;
			transform: translate(-0%, -0%);
			width: calc(80vw);
			&-title{
				font-size: 17px;
				padding-bottom:10px;
			}
			&-exp{
				width:calc(80vw);
				padding: 10px 10px;
				height: 25vh;
				display: flex;
				justify-content: center;
				flex-direction: column;
				p{
					font-size: 12px;
				}
			}
			&-read-more {
				display:block;
				cursor:pointer;
				font-size:15px;
				padding:10px 30px;
				text-decoration:none;
				margin: 0 auto;
				width: 70vw;
				margin-top: 20px;
				text-align: center;
			}

		}
		.about-image{
			position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			img{
				width: 80vw;
				height: auto;
			}

		}
		.about-right{
			position: absolute;
			right: 0px;
			margin-right: 10vw;
			top: initial;
			bottom: 0%;
			transform: translate(-0%, -0%);
			width: calc(80vw);
			padding-bottom: 5vh;
			&-title{
				color: white;
				font-size: 17px;
				width: calc(80vw);
				padding-bottom:10px;
				text-align: right;
				margin-left: auto;
			}
			&-exp{
				width:calc(80vw);
				padding: 10px 10px;
				height: initial;
				min-height: 25vh;
				display: flex;
				justify-content: center;
				flex-direction: column;
				p{
					font-size: 12px;
					text-align: justify;
				}
			}
			&-read-more {
				display:block;
				cursor:pointer;
				font-size:15px;
				padding:10px 30px;
				text-decoration:none;
				float: none;
				margin: 0 auto;
				width: 70vw;
				margin-top: 20px;
				text-align: center;
			}
		}
	}	
}
}


.catalog-pintu{
	min-height: 80vh;
	padding-bottom: 5vh;
	padding-top: 5vh;
	&-title{
		h2{
			font-size: 30px;
			font-weight: 700;
			color:$brown-5;
			text-align: center;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 3rem;
			}
		}
	}
	.pintu-list{
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 980px;
   		margin: 0 auto;
		.pintu{
//perbandingan gambarnya 1440 x 3448, ratio 180:431 (*1.5)
			height: calc(675px);
			width: calc(270px);
			margin: auto calc(170px/6);
			display: flex;
			align-items:center;
			flex-direction: column;
			padding: 0 40px;
			padding-top: 10vh;		
			&-title{
					border-bottom-width: 1px;
					width: 200px;
				h3{
					color: white;
					font-size: 2rem;
					text-align: center;
				}
			}
			&-exp{
				color: white;
				font-size: 1rem;
				text-align: center;
			}
		}
		.pintu-1{
			background-image: url("/img/Preview/SC NC (Solvent Based Paint Finished)/SC/SC-Caramel - Copy.jpg"); 
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin-left: 0;
		}
		.pintu-2{
			background-image: url("/img/Preview/SC NC (Solvent Based Paint Finished)/NC/Nat-Sapele - Copy.jpg"); 
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		.pintu-3{
			background-image: url("/img/Preview/MD Series (Ecoskin Finished)/3. TANGO/8. TANGO Walnut - Copy.jpg"); 
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 0;
		}
	}
	&-read-more {
		text-align: center;
		display: block;
		box-shadow: 1px 1px 7px -2px black;
		background-color:$brown-6;
		cursor:pointer;
		color:#ffffff;
		font-size:15px;
		padding:10px 30px;
		text-decoration:none;
		margin: 0 auto;
		margin-top: 30px;
		width: 15vw;
		transition: 0.3s;
		@media (min-width: $breakpoint-xlarge) {
			font-size: 1.25rem;
		}

	}
	&-read-more:hover {
		background-color:white;
		color: $brown-6;
		text-decoration:none;
	}
	&-read-more:active {
		position:relative;
		top:1px;
	}	
}

@media (max-width: $breakpoint-tablet) {
.catalog-pintu{
	min-height: 50vh;
	padding-bottom: 5vh;
	&-title{
		h2{
			font-size: 30px;
			text-align: center;
			margin-bottom: 2vh;
		}
	}
	.pintu-list{
		display: flex;
		justify-content: center;
		flex-direction: row;
		padding-left:5vw;
		padding-right:5vw;
		width: initial;
		.pintu{
			height: 50vh;
			width: calc(30vw);
			margin: auto calc(10vw/6);
			display: flex;
			align-items:center;
			flex-direction: column;
			padding: 0 40px;
			padding-top: 2vh;
			&-title{
					width: 16vw;
				h3{
					font-size: 24px;
				}
			}
			&-exp{
				font-size: 16px;
			}
		}
		.pintu-1{
			background-size: cover;
		}
		.pintu-2{
			background-size: cover;
		}
		.pintu-3{
			background-size: cover;
		}
	}
	&-read-more {
		text-align: center;
		display: block;
		font-size:15px;
		padding:10px 30px;
		margin: 0 auto;
		margin-top: 30px;
		width: 50vw;
	}	
}

}



@media (max-width: $breakpoint-phone) {
.catalog-pintu{
	min-height: 80vh;
	padding-bottom: 5vh;
	&-title{
		padding-right: 10vw;
		padding-left: 10vw;
		padding-top: 20px;
		h2{
			font-size: 30px;
			text-align: center;
		}
	}
	.pintu-list{
		display: flex;
		justify-content: center;
		align-items:center;
		flex-direction: column;
		padding-left:20vw;
		padding-right:20vw;
		.pintu{
			height: 35vh;
			width: calc(80vw);
			margin: 0 0;
			display: flex;
			align-items:center;
			justify-content: center;
			flex-direction: column;
			padding: 0 40px;
			padding-top: 0vh;
			margin-top: 5vh;
			&-title{
					width: 70vw;
				h3{
					font-size: 16px;
					text-align: center;
				}
			}
			&-exp{
				font-size: 12px;
				text-align: center;
			}
		}
	}
	&-read-more {
		width: 70vw;
	}
}
}


.catalog-kusen{
	min-height: 100vh;
	background-color: $grey-2;
	padding-top: 2vh; 
	padding-bottom: 5vh; 
	&-title{
		h2{
			font-size: 30px;
			font-weight: 700;
			color:$brown-5;
			text-align: center;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 3rem;
			}			
		}
	}
	.kusen{
		display: flex;
		align-items:center;
		flex-direction: column;
		&-title{
			font-size: 16px;
			font-weight: 700;
			color:$brown-5;
			text-align: center;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 1.5rem;
			}	
		}
	}
	.kusen-top{
		margin: 0 auto;
		margin-bottom: 5vh;
		width:980px;
		.kusen-pic{
			img{
				height: auto;
				width: calc(980px/2);
			}
		}
	}
	.kusen-bottom{
		display: flex;
		justify-content:center;
		flex-direction: row;
		width:980px;
		margin: 0 auto;
		.kusen-pic{
			img{
				height: auto;
				width: calc(980px/2);
			}
		}
	}
	&-read-more {
		text-align: center;
		display: block;
		box-shadow: 1px 1px 7px -2px black;
		background-color:$brown-6;
		cursor:pointer;
		color:#ffffff;
		font-size:15px;
		padding:10px 30px;
		text-decoration:none;
		margin: 0 auto;
		margin-top: 30px;
		width: 15vw;
		transition: 0.3s;
		@media (min-width: $breakpoint-xlarge) {
			font-size: 1.25rem;
		}	
	}
	&-read-more:hover {
		background-color:white;
		color:$brown-6;
		text-decoration:none;
	}
	&-read-more:active {
		position:relative;
		top:1px;
	}	
}


@media (max-width: $breakpoint-tablet) {
.catalog-kusen{
	min-height: 50vh;
	padding-top: 2vh; 
	padding-bottom: 5vh; 
	&-title{
		h2{
			font-size: 30px;
		}
	}
	.kusen{
		display: flex;
		align-items:center;
		flex-direction: column;
		&-title{
			font-size: 24px;
			text-align: center;
		}
	}
	.kusen-top{
		margin-bottom: 5vh;
		width: initial;
		.kusen-pic{
			img{
				height: 15vh;
				width: auto;
			}
		}
	}
	.kusen-bottom{
		display: flex;
		flex-direction: row;
		width: initial;
		.kusen-pic{
			margin: auto 0vw;
			img{
				height: 25vh;
				width: auto;
			}
		}
	}
	&-read-more {
		text-align: center;
		display: block;
		font-size:16px;
		padding:10px 30px;
		margin: 0 auto;
		margin-top: 30px;
		width: 50vw;
	}	
}
}

@media (max-width: $breakpoint-phone) {
.catalog-kusen{
	min-height: 100vh;
	padding-top: 2vh; 
	padding-bottom: 5vh; 
	&-title{
		padding-right: 10vw;
		padding-left: 10vw;
		padding-top: 20px;
		h2{
			font-size: 30px;
		}
	}
	.kusen{
		&-title{
			font-size: 16px;
		}
	}
	.kusen-top{
		margin-bottom: 5vh;
		.kusen-pic{
			img{
				height: 20vh;
				width: auto;
			}
		}
	}
	.kusen-bottom{
		flex-direction: column;
		.kusen-pic{
			margin: auto 4vw;
			img{
				height: 30vh;
				width: auto;
			}
		}
	}
	&-read-more {
		text-align: center;
		display: block;
		font-size:15px;
		padding:10px 30px;
		margin: 0 auto;
		margin-top: 30px;
		width: 70vw;
	}	
}
}


.company-detail{
	min-height: 100vh;
	padding-bottom: 10vh;
	padding-top: 5vh;
	width: 980px;
	margin: 0 auto;
	.company-detail-title{
		h3{
			color: $brown-3;
			font-weight: 700;
			font-size: 1.5rem;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 1.5rem;
			}	
		}
	}
	.company-detail-container{
		display: flex;
		justify-content:space-between;
		align-items:center;
		flex-direction: row;
		.company-detail-img{
			position: relative;
			width: 400px;
			height: 300px;
		}
		.company-detail-exp{
			position: relative;
			width: 530px;
			//height: 40vh;
			height: 300px;
			padding: 10px 20px;
			align-items: center;
    		display: flex;
			p, ul li{
				font-size: 1rem;
				color: black;
				@media (min-width: $breakpoint-xlarge) {
					font-size: 1rem;
				}								
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1rem;
				}					
			}
		}
	}

	.company-detail-1{
		.company-detail-title-1{
			text-align: right;
		}
		.company-detail-img-1{
			background-image: url("/img/Home/Citraland Oakwood 2.jpg"); 
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			&:before, &:after {
			  z-index: -1;
			  position: absolute;
			  content: "";
			  bottom: 15px;
			  left: 10px;
			  width: 50%;
			  top: 80%;
			  max-width:300px;
			  background: black;
			  -webkit-box-shadow: 0 15px 10px black;
			  -moz-box-shadow: 0 15px 10px black;
			  box-shadow: 0 15px 10px black;
			  -webkit-transform: rotate(-3deg);
			  -moz-transform: rotate(-3deg);
			  -o-transform: rotate(-3deg);
			  -ms-transform: rotate(-3deg);
			  transform: rotate(-3deg);
			}
			&:after
			{
			  -webkit-transform: rotate(3deg);
			  -moz-transform: rotate(3deg);
			  -o-transform: rotate(3deg);
			  -ms-transform: rotate(3deg);
			  transform: rotate(3deg);
			  right: 10px;
			  left: auto;
			}
		}
		.company-detail-exp-1{
	    -webkit-box-shadow: -9px 7px 17px 0px #777;
	       -moz-box-shadow: -9px 7px 17px 0px #777;
	            box-shadow: -9px 7px 17px 0px #777;			
		}		
	}

	.company-detail-2{
		margin: 5vh auto;
		.company-detail-title-2{
			text-align: left;
		}
		.company-detail-img-2{
			background-image: url("/img/Home/Pakuwon City 2.jpg"); 
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			&:before, &:after {
			  z-index: -1;
			  position: absolute;
			  content: "";
			  bottom: 15px;
			  left: 10px;
			  width: 50%;
			  top: 80%;
			  max-width:300px;
			  background: black;
			  -webkit-box-shadow: 0 15px 10px black;
			  -moz-box-shadow: 0 15px 10px black;
			  box-shadow: 0 15px 10px black;
			  -webkit-transform: rotate(-3deg);
			  -moz-transform: rotate(-3deg);
			  -o-transform: rotate(-3deg);
			  -ms-transform: rotate(-3deg);
			  transform: rotate(-3deg);
			}
			&:after
			{
			  -webkit-transform: rotate(3deg);
			  -moz-transform: rotate(3deg);
			  -o-transform: rotate(3deg);
			  -ms-transform: rotate(3deg);
			  transform: rotate(3deg);
			  right: 10px;
			  left: auto;
			}
		}
		.company-detail-exp-2{
	    -webkit-box-shadow: 9px 7px 17px 0px #777;
	       -moz-box-shadow: 9px 7px 17px 0px #777;
	            box-shadow: 9px 7px 17px 0px #777;			
		}
	}

	.company-detail-3{
		.company-detail-title-3{
			text-align: right;
		}
		.company-detail-img-3{
			width: 530px;
			height: 250px;
			display: flex;
			justify-content:center;
			align-items:center;
			flex-direction: row;			
			img{
				width: calc(530px/3);
				margin: 0;
				padding: 0;
			}
		}
		.company-detail-exp-3{
			width: 400px;
			height: 250px;
		    -webkit-box-shadow: -9px 7px 17px 0px #777;
		    -moz-box-shadow: -9px 7px 17px 0px #777;
		    box-shadow: -9px 7px 17px 0px #777;			
		}		
	}
}

@media (max-width: $breakpoint-tablet) {
.company-detail{
	min-height: 100vh;
	padding: 5vh 5vw;
	padding-bottom: 10vh;
	width: initial;

	.company-detail-title{
		h3{
			font-size: 24px;			
		}
	}
	.company-detail-container{
		display: flex;
		justify-content:space-between;
		align-items:center;
		flex-direction: row;
		.company-detail-img{
			position: relative;
			width: 40vw;
			height: 30vh;
		}
		.company-detail-exp{
			position: relative;
			width: 47vw;
			height: 400px;
			padding: 10px 20px;
			p, ul li{
				font-size: 16px;
			}
		}
	}

	.company-detail-1{
		.company-detail-title-1{
			text-align: right;
		}
		.company-detail-img-1{

		}
		.company-detail-exp-1{
		
		}		
	}

	.company-detail-2{
		margin: 5vh auto;
		.company-detail-title-2{
			text-align: left;
		}
		.company-detail-img-2{

		}
		.company-detail-exp-2{
		
		}
	}

	.company-detail-3{
		.company-detail-title-3{
			text-align: right;
		}
		.company-detail-img-3{
			width: 45vw;
			height: 15vh;
			display: flex;
			justify-content:center;
			align-items:center;
			flex-direction: row;			
			img{
				width: calc(45vw/3);
				margin: 0;
				padding: 0;
			}
		}
		.company-detail-exp-3{
			width: 40vw;		
		}		
	}
}
}


@media (max-width: $breakpoint-phone) {
.company-detail{
	min-height: 100vh;
	padding: 5vh 10vw;
	padding-bottom: 10vh;
	.company-detail-title{
		h3{
			font-size: 16px;			
		}
	}
	.company-detail-container{
		display: flex;
		justify-content:space-between;
		align-items:center;
		flex-direction: column;
		.company-detail-img{
			margin: 2.5vh auto;
			position: relative;
			width: 80vw;
			height: 40vh;
		}
		.company-detail-exp{
			margin: 2.5vh auto;
			position: relative;
			width: 80vw;
			height: initial;
			padding: 20px 20px;
			p, ul li{
				font-size: 12px;
			}
		}
	}

	.company-detail-1{
		.company-detail-title-1{
			text-align: right;
		}
		.company-detail-img-1{
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.company-detail-exp-1{
		}		
	}

	.company-detail-2{
		margin: 5vh auto;
		.company-detail-title-2{

		}
		.company-detail-img-2{
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.company-detail-exp-2{
	
		}
	}

	.company-detail-3{
		.company-detail-title-3{
			text-align: right;
		}
		.company-detail-img-3{
			width: 80vw;
			height: 20vh;
			display: flex;
			justify-content:center;
			align-items:center;
			flex-direction: row;			
			img{
				width: calc(80vw/3);
				margin: 0;
				padding: 0;
			}
		}
		.company-detail-exp-3{
			width: 80vw;	
			height: initial;				
		}		
	}
}
}


.company-point{
	min-height: 100vh;
	background-color: $grey-2;
	padding: 5vh 15vw;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction: row;	
	&-container{
		width: calc(980px/3);
		height: 80vh;
		display: flex;
		flex-direction: column;	
		padding: 3vh 3vw;
	}
	&-img{
		margin-top: 20px;
		text-align: center;
		i{
			color: white;
		}
		.xl-icon{
			font-size: 7.5vw;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 10vw;
			}				
		}
	}
	&-title{
		h3{
			color: white;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 1.75rem;
			}	
		}
	}
	&-exp{
		p{
			color: white;
			font-size: 16px;
			font-weight: 400;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 1.25rem;
			}				
		}
	}
	&-1{
		background-color: $brown-3;		
	}
	&-2{
		background-color: $brown-4;		
	}
	&-3{
		background-color: $brown-5;		
	}
}

@media (max-width: $breakpoint-tablet) {
.company-point{
	min-height: 50vh;
	padding: 5vh 5vw;
	display: flex;
	justify-content:center;
	align-items:start;
	flex-direction: row;	
	&-container{
		width: calc(90vw/3);
		//height: 50vh;
		height: 550px;
		display: flex;
		flex-direction: column;	
		padding: 3vh 3vw;
	}
	&-img{
		margin-top: 0px;
		text-align: center;
		i{
		}
		.xl-icon{
			font-size: 15vw;
		}
	}
	&-title{
		h3{
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	&-exp{
		p{
			font-size: 16px;
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.company-point{
	min-height: 100vh;
	padding: 5vh 10vw;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;	
	&-container{
		width: 80vw;
		height: 70vh;
		display: flex;
		flex-direction: column;	
		padding: 2vh 5vw;
	}
	&-img{
		margin-top: 0px;
		i{
		}
		.xl-icon{
			font-size: 40vw;
		}
	}
	&-title{
		h3{
			font-size: 20px;
			margin-bottom: 0;
		}
	}
	&-exp{
		p{
			font-size: 16px;
		}
	}
}
}

.portfolio{
	padding-top:2vh;
	padding-bottom: 5vh;
	width: 980px;
	margin: 0 auto;
	&-title{
		h2{
			font-size: 30px;
			font-weight: 700;
			color:$brown-5;
			text-align: center;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 3rem;
			}	
		}
	}
	&-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;		
		div{
			img{
				width:calc(120px);
				height: auto;
				column-gap:20px;
			}
		}
	}
}


@media (max-width: $breakpoint-tablet) {
.portfolio{
	padding: 2vh 15vw;
	padding-bottom: 5vh;
	width: initial;
	&-title{
		h2{
			font-size: 30px;
			text-align: center;			
		}
	}
	&-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;		
		div{
			img{
				width:calc(15vw);
				height: auto;
				column-gap:0.5vw;
			}
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.portfolio{
	padding: 2vh 15vw;
	padding-bottom: 5vh;
	&-title{
		h2{
			font-size: 30px;
			text-align: center;			
		}
	}
	&-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;		
		div{
			img{
				width:calc(15vw);
				height: auto;
				column-gap:0.5vw;
			}
		}
	}
}
}