@import 'color.scss';

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.tab { 
       display:inline-block; 
       width: 5vw;
}

.tab-small { 
       display:inline-block; 
       width: 4.5vw;
}

@media (min-width: $breakpoint-xxlarge) {
.tab { 
       width: 4vw;
}

.tab-small { 
       width: 3.5vw;
}
}


@media (max-width: $breakpoint-tablet) {
.tab { 
       width: 10vw;
}

.tab-small { 
       width: 10vw;
}
}

@media (max-width: $breakpoint-phone) {
.tab { 
       width: 20vw;
}

.tab-small { 
       width: 20vw;
}
}

.bold{
	font-weight: 700;
}

.exp{
	min-height: 50vh;
	background-color: $grey-2;
	padding: 5vh calc((100vw - 980px)/2);
	justify-content:space-between;
	display: flex;
	&-img{
		height: 90vh;
		@media (min-width: $breakpoint-xlarge) {
			height: 60vh;			
		}
		width: 500px;
		position: relative;
		img{
			height: auto;
			width: 240px;
		}
		.img-bottom{
			position: absolute;
			bottom: 0;
		}
	}
	.exp-detail{
		width: 480px;
		&-title{
			border-bottom-width: 5px;
			border-bottom-color: $grey-4;
			padding-bottom: 0;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				color: $brown-1;
				font-size: 30px;
				@media (min-width: $breakpoint-xlarge) {
					font-size: 2rem;
				}					
				text-align: left;
				font-weight: 700;
			}
		}
		&-exp{
			font-size: 14px;
			font-weight: 400;
			@media (min-width: $breakpoint-xlarge) {
				font-size: 1rem;
			}
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.exp{ 
	min-height: 50vh;
	padding: 5vh 5vw;
	justify-content:space-between;
	display: flex;
	&-img{
		height: 40vh;
		width: 30vw;
		position: relative;
		img{
			height: 20vh;
			width: auto;
		}
		.img-bottom{
			position: absolute;
			bottom: auto;
			margin-top:10vh;
			margin-left: 2vw;
		}
	}
	.exp-detail{
		width: 50vw;
		&-title{
			padding-bottom: 0;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
			}
		}
		&-exp{
			font-size: 14px;
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.exp{
	min-height: 100vh;
	padding: 5vh 10vw;
	justify-content:space-between;
	display: flex;
	flex-direction: column;
	&-img{
		height: initial;
		width: 80vw;
		min-height: 50vh;
		position: relative;
		display: flex;
		img{
			height: auto;
			width: 39vw;
		}
		.img-top{
			position: absolute;			
		}
		.img-bottom{
			display: inline-block;
			margin-right: 0;
			margin-left: auto;
			margin-top:0vh;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.exp-detail{
		width: 80vw;
		&-title{
			padding-bottom: 0;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
				text-align: left;
			}
		}
		&-exp{
			font-size: 14px;
		}
	}
}
}

.video{
	min-height: 50vh;
	display: flex;
	align-items:center;
	justify-content:middle;
	#videoPlayer{
		vertical-align: middle;
		width: calc(980px * 4 / 5);
		margin: 10vh auto;
		height: auto;
		pointer-events: none;
	}
}

@media (max-width: $breakpoint-tablet) {
.video{
	height: initial;
	min-height: 40vh;
	#videoPlayer{
		width: 80%;
	}
}
}

@media (max-width: $breakpoint-phone) {
.video{
	height: initial;
	min-height: 40vh;
	#videoPlayer{
		width: 80%;
	}
}
}

.sc{
	min-height: 70vh;
	background-color: $grey-2;
	padding: 5vh calc((100vw - 980px)/2);
	.sc-title{
		width: 30vw;
		border-bottom-width: 5px;
		border-bottom-color: $grey-4;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			color: $brown-1;
			font-size: 36px;
			text-align: left;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 3rem;
			}			
		}
	}
	.sc-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.25rem;
			}			
		}
	}
	.sc-door{
		display: flex;
		justify-content:space-between;
		&-container{
			width: calc(900px/5);
		}
		&-img{
			img{
				width: calc(900px/5);
				height: auto;
			}
		}
		&-title{
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 8px auto;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.75rem;
				}					
			}
		}
		&-exp{
			p{
				font-size: 12px;
				margin-top: 0px;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1rem;
				}						
			}
			.sc-door-exp-title{
				display: block;
				font-size: 14px;
				margin-bottom: 7px;
				font-weight: 700;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.25rem;
				}				
			}
		}
	}
}


@media (max-width: $breakpoint-tablet) {
.sc{
	min-height: 100vh;
	padding: 5vh 5vw;
	.sc-title{
		width: 40vw;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	.sc-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
		}
	}
	.sc-door{
		display: flex;
		justify-content:center;
		flex-wrap:wrap;
		&-container{
			width: 30vw;
			display:flex;
			flex-direction: column;
			align-items:center;
		}
		&-img{
			img{
				width: 15vw;
				height: auto;
			}
		}
		&-title{
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 8px auto;
			}
		}
		&-exp{
			p{
				font-size: 12px;
				margin-top: 0px;
			}
			.sc-door-exp-title{
				display: block;
				font-size: 14px;
				margin-bottom: 7px;
			}
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.sc{
	padding: 5vh 10vw;
	.sc-title{
		width: 80vw;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	.sc-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
		}
	}
	.sc-door{
		display: flex;
		justify-content:space-between;
		flex-direction: column;
		&-container{
			width: 80vw;
			display: flex;
			flex-direction: row;
			margin: 2.5vh 0;
		}
		&-img{
			margin-right: 5vw;
			img{
				width: 20vw;
				height: auto;
			}
		}
		&-title{
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 0px auto;
			}
		}
		&-exp{
			p{
				font-size: 12px;
				margin-top: 0px;
			}
			.sc-door-exp-title{
				display: block;
				font-size: 14px;
				margin-bottom: 7px;
			}
		}
	}
}
}


.sc-img{
	min-height: 70vh;
	padding: 5vh auto;
	display: flex;
	align-items:center;
	justify-content:middle;
	img{
		vertical-align: middle;
		width: 980px;
		height: auto;
		margin: 5vh auto;
		pointer-events: none;
	}
}

@media (max-width: $breakpoint-tablet) {
.sc-img{
	min-height: 40vh;
	img{
		width: 80vw;
	}
}
}

@media (max-width: $breakpoint-phone) {
.sc-img{
	min-height: 40vh;
	img{
		width: 80vw;
	}
}
}

.nc{
	min-height: 90vh;
	background-color: $grey-2;
	padding: 5vh calc((100vw - 980px)/2);
	.nc-title{
		width: 30vw;
		border-bottom-width: 5px;
		border-bottom-color: $grey-4;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			color: $brown-1;
			font-size: 36px;
			text-align: left;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 3rem;
			}					
		}
	}
	.nc-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.25rem;
			}					
		}
	}
	.nc-door{
		display: flex;
		justify-content:space-between;
		&-container{
			width: calc(900px/5);
		}
		&-img{
			img{
				width: calc(900px/5);
				height: auto;
			}
		}
		&-title{
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 8px auto;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.75rem;
				}					
			}
		}
		&-exp{
			p{
				font-size: 12px;
				margin-top: 0px;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1rem;
				}					
			}
			.nc-door-exp-title{
				display: block;
				font-size: 14px;
				margin-bottom: 7px;
				font-weight: 700;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.25rem;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.nc{
	min-height: 100vh;
	padding: 5vh 5vw;
	.nc-title{
		width: 40vw;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	.nc-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
		}
	}
	.nc-door{
		display: flex;
		justify-content:center;
		flex-wrap:wrap;
		&-container{
			width: 30vw;
			display:flex;
			flex-direction: column;
			align-items:center;
		}
		&-img{
			img{
				width: 15vw;
				height: auto;
			}
		}
		&-title{
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 8px auto;
			}
		}
		&-exp{
			p{
				font-size: 12px;
				margin-top: 0px;
			}
			.nc-door-exp-title{
				display: block;
				font-size: 14px;
				margin-bottom: 7px;
			}
		}
	}
}
}

@media (max-width: $breakpoint-phone) {
.nc{
	padding: 5vh 10vw;
	.nc-title{
		width: 80vw;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	.nc-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
		}
	}
	.nc-door{
		display: flex;
		justify-content:space-between;
		flex-direction: column;
		&-container{
			width: 80vw;
			display: flex;
			flex-direction: row;
			margin: 2.5vh 0;
		}
		&-img{
			margin-right: 5vw;
			img{
				width: 20vw;
				height: auto;
			}
		}
		&-title{
			h3{
				font-weight: 400;
				font-size: 20px;
				margin: 0px auto;
			}
		}
		&-exp{
			p{
				font-size: 12px;
				margin-top: 0px;
			}
			.nc-door-exp-title{
				display: block;
				font-size: 14px;
				margin-bottom: 7px;
			}
		}
	}
}
}

.nc-img{
	min-height: 70vh;
	padding: 5vh auto;
	display: flex;
	align-items:center;
	justify-content:middle;
	img{
		vertical-align: middle;
		width: 980px;
		height: auto;
		margin: 5vh auto;
		pointer-events: none;
	}
}


@media (max-width: $breakpoint-tablet) {
.nc-img{
	min-height: 40vh;
	img{
		width: 80vw;
	}
}
}

@media (max-width: $breakpoint-phone) {
.nc-img{
	min-height: 40vh;
	img{
		width: 80vw;
	}
}
}

.md{
	min-height: 70vh;
	background-color: $grey-2;
	padding: 5vh calc((100vw - 980px)/2);
	.md-title{
		width: 30vw;
		border-bottom-width: 5px;
		border-bottom-color: $grey-4;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			color: $brown-1;
			font-size: 36px;
			text-align: left;
			font-weight: 700;
			margin-bottom: 0;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 3rem;
			}
		}
	}
	.md-exp{
		p{
			font-size: 14px;
			font-weight: 400;
			margin-top: 8px;
			@media (min-width: $breakpoint-xxlarge) {
				font-size: 1.25rem;
			}			
		}
	}
	.md-door{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 5vh;
		&-container{
			display: flex;
			width: calc(980px/4);
			justify-content:space-evenly;
		}
		&-img{
			img{
				width: calc(900px/8);
				height: auto;
			}
		}
		&-writing{
			width: calc(900px/8);
			.md-door-title{
				h3{
					font-weight: 400;
					font-size: 20px;
					margin: 8px auto;
					@media (min-width: $breakpoint-xxlarge) {
						font-size: 1.75rem;
					}								
				}
			}
			.md-door-exp{
				p{
					font-size: 10px;
					margin-top: 0px;
					@media (min-width: $breakpoint-xlarge) {
		  				font-size: 12px;
					}					
					@media (min-width: $breakpoint-xxlarge) {
						font-size: 0.75rem;
					}	
				}

				.md-door-exp-title{
					display: block;
					font-size: 12px;
					margin-bottom: 7px;
					font-weight: 700;
					@media (min-width: $breakpoint-xxlarge) {
						font-size: 1.25rem;
					}						
				}
			}
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.md{
	min-height: 100vh;
	padding: 5vh 5vw;
	.md-title{
		width: 40vw;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			margin-bottom: 0;
		}
	}
	.md-exp{
		p{
			font-size: 14px;
			margin-top: 8px;
		}
	}
	.md-door{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		row-gap: 5vh;
		&-container{
			display: flex;
			width: calc(90vw/3);
			justify-content:space-between;
			flex-direction: column;
			align-items:center;
		}
		&-img{
			img{
				width: calc(90vw/6);
				height: auto;
			}
		}
		&-writing{
			width: calc(65vw/3);
			.md-door-title{
				h3{
					font-weight: 400;
					font-size: 20px;
					margin: 8px auto;
				}
			}
			.md-door-exp{
				p{
					font-size: 10px;
					margin-top: 0px;
				}
				.md-door-exp-title{
					display: block;
					font-size: 12px;
					margin-bottom: 7px;
					font-weight: 700;
				}
			}
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.md{
	min-height: 100vh;
	padding: 5vh 10vw;
	.md-title{
		width: 80vw;
		padding-bottom: 0;
		h2{
			margin-bottom: 0;
			margin-top: 0;
			font-size: 36px;
			text-align: left;
			margin-bottom: 0;
		}
	}
	.md-exp{
		p{
			font-size: 14px;
			margin-top: 8px;
		}
	}
	.md-door{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		row-gap: 5vh;
		&-container{
			display: flex;
			width: calc(80vw);
			justify-content:start;
			flex-direction: row;
		}
		&-img{
			margin-right: 5vw;
			img{
				width: calc(20vw);
				height: auto;
			}
		}
		&-writing{
			width: calc(60vw);
			.md-door-title{
				h3{
					font-size: 20px;
					margin: 8px auto;
				}
			}
			.md-door-exp{
				p{
					font-size: 10px;
					margin-top: 0px;
				}
				.md-door-exp-title{
					display: block;
					font-size: 12px;
					margin-bottom: 7px;
					font-weight: 700;
				}
			}
		}
	}
}
}

.md-img{
	min-height: 70vh;
	padding: 5vh auto;
	display: flex;
	align-items:center;
	justify-content:middle;
	img{
		vertical-align: middle;
		width: 980px;
		height: auto;
		margin: 5vh auto;
		pointer-events: none;
	}
}

@media (max-width: $breakpoint-tablet) {
.md-img{
	min-height: 40vh;
	img{
		width: 80vw;
	}
}
}

@media (max-width: $breakpoint-phone) {
.md-img{
	min-height: 40vh;
	img{
		width: 80vw;
	}
}
}