@import 'color.scss';

.button-container{
	.button {
		box-shadow: 1px 1px 7px -2px black;
		background-color:$brown-6;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-size:15px;
		padding:10px 30px;
		text-decoration:none;
		display: block;
		width: 15vw;
		margin: 0 auto;
		text-align: center;
		margin-top: 30px;
		transition: 0.3s;
		@media (min-width: $breakpoint-xxlarge) {
			font-size: 1.25rem;
		}
	}
	.button:hover {
		background-color:white;
		color: $brown-6;
		text-decoration:none;
	}
	.button:active {
		position:relative;
		top:1px;
	}
}

@media (max-width: $breakpoint-tablet) {
.button-container{
	.button {
		font-size:15px;
		padding:10px 30px;
		display: block;
		width: 40vw;
		margin: 0 auto;
		text-align: center;
		margin-top: 0px;
	}
}
}

@media (max-width: $breakpoint-phone) {
.button-container{
	.button {
		font-size:15px;
		padding:10px 30px;
		display: block;
		width: 70vw;
		margin: 0 auto;
		text-align: center;
		margin-top: 0px;
	}
}
}


.product-door{
	min-height: 70vh;
	background-color: $grey-2;
	padding: 10vh calc((100vw - 980px)/2) 10vh calc((100vw - 980px)/2);
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	&-img{
		img{
			height: 80vh;
			@media (min-width: $breakpoint-xlarge) {
			height: 65vh;				
			}
			width: auto;
		}
	}
	&-exp{
		width: 30vw;
		.door-title{
			border-bottom-width: 5px;
			border-bottom-color: $grey-4;
			padding-bottom: 0;
			width: 200px;
			margin-left: auto;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				color: $brown-1;
				font-size: 36px;				
				text-align: right;
				font-weight: 600;
			}

			@media (min-width: $breakpoint-xxlarge) {
				width: 300px;
				p{
					font-size: 3rem;
				}
			}	
		}
		.door-exp{
			background-color: #efefef;
			padding: 5% 5%;
			margin: 10% auto;
			p, li{
				padding: 0 0;
				margin: 0 0;
				color: black;
				font-weight: 400;
				font-size: 14px;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.25rem;
				}		
			}
			ul{
				padding-left: 0px;
				list-style-type: none;
				margin-top: 0;
				margin-bottom: 0;
			}
			ul > li {
			  text-indent: -5px;
			}
			ul > li:before {
			  content: "- ";
			  text-indent: -5px;
			}
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.product-door{
	min-height: 40vh;
	padding: 5vh 10vw;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	&-img{
		img{
			height: 45vh;
			width: auto;
		}
	}
	&-exp{
		width: 50vw;
		.door-title{
			padding-bottom: 0;
			width: 200px;
			margin-left: auto;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
			}
		}
		.door-exp{
			padding: 5% 5%;
			margin: 5% auto;
			p, li{
				padding: 0 0;
				margin: 0 0;
				font-size: 14px;
			}
			ul{
				padding-left: 0px;
				list-style-type: none;
				margin-top: 0;
				margin-bottom: 0;
			}
			ul > li {
			  text-indent: -5px;
			}
			ul > li:before {
			  content: "- ";
			  text-indent: -5px;
			}
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.product-door{
	padding: 5vh 10vw 5vh 10vw;
	display: flex;
	flex-direction: column-reverse;
	justify-content:space-around;
	align-items:center;
	&-img{
		margin-top: 5%;
		img{
			height: 50vh;
			width: auto;
		}

	}
	&-exp{
		width: 80vw;
		.door-title{
			padding-bottom: 0;
			width: 200px;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
			}
		}
		.door-exp{
			padding: 5% 5%;
			margin: 5% auto;
			p, li{
				padding: 0 0;
				margin: 0 0;
				font-size: 14px;
			}
			ul{
				padding-left: 0px;
				margin-top: 0;
				margin-bottom: 0;
			}
			ul > li {
			  text-indent: -5px;
			}
		}
	}
}
}

.product-kusen{
	min-height: 70vh;
	background-color: $white;
//	padding: 10vh 10vw 10vh 15vw;
	width: 980px;
	margin: 0 auto;
	padding:10vh 0;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	&-exp{
		width: 45vw;
		.kusen-title{
			border-bottom-width: 5px;
			border-bottom-color: $grey-4;
			padding-bottom: 0;
			width: 480px;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				color: $brown-1;
				font-size: 36px;
				font-weight: 600;
			}
			@media (min-width: $breakpoint-xxlarge) {
				width: 450px;
				p{
					font-size: 3rem;
				}
			}	

		}
		.kusen-exp{
			background-color: #efefef;
			padding: 5% 5%;
			margin: 5% auto;
			p, li{
				padding: 0 0;
				margin: 0 0;
				color: black;
				font-weight: 400;
				font-size: 14px;
				@media (min-width: $breakpoint-xxlarge) {
					font-size: 1.25rem;
				}				
			}
			ul{
				padding-left: 0px;
				list-style-type: none;
				margin-top: 0;
				margin-bottom: 0;
			}
			ul > li {
			  text-indent: -5px;
			}
			ul > li:before {
			  content: "- ";
			  text-indent: -5px;
			}
		}
	}
	&-img{
		img{
//			height: 50vh;
//			width: auto;
			height: auto;
			width: 500px;
		}
	}
}

@media (max-width: $breakpoint-tablet) {
.product-kusen{
	min-height: 100vh;
	padding: 3vh 10vw;
	width: initial;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	&-exp{
		width: 80vw;
		.kusen-title{
			padding-bottom: 0;
			width: 80vw;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
			}
		}
		.kusen-exp{
			padding: 5% 5%;
			margin: 5% auto;
			p, li{
				padding: 0 0;
				margin: 0 0;
				font-size: 14px;
			}
			ul{
				padding-left: 0px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	&-img{
		img{
			height: auto;
			width: 80vw;
		}
	}
}
}


@media (max-width: $breakpoint-phone) {
.product-kusen{
	min-height: 100vh;
	padding: 3vh 10vw;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	&-exp{
		width: 80vw;
		.kusen-title{
			padding-bottom: 0;
			width: 80vw;
			h1{
				margin-bottom: 0;
				margin-top: 0;
				font-size: 36px;
			}
		}
		.kusen-exp{
			padding: 5% 5%;
			margin: 5% auto;
			p, li{
				padding: 0 0;
				margin: 0 0;
				font-size: 14px;
			}
			ul{
				padding-left: 0px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	&-img{
		img{
			height: auto;
			width: 80vw;
		}
	}
}
}
